[submodule "vscode"]
	path = vscode
	url = https://github.com/tomerkatz2001/vscode.git
	branch = master

[submodule "synthesizer"]
	path = synthesizer
	url = https://github.com/tomerkatz2001/ScooPySynthesizer.git
	branch = master
